@{
    ViewBag.Title = "Pagina Principal";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <div id="textopapa" style="text-align:center">
            <h1 id="title" style="font-family:Arial">Bienvenidos.  </h1>
            <p class="lead" style="font-family:Arial">Encontrará diversidad de menus con mucha gastronomia</p>
        </div>


            <div id="botones" style="text-align:center">
                <button style="background-color:black; color:white; border:white solid 5px" onclick="">Menu Colombiano</button>
                <button>Menu Español</button>
                <button>Menu Frances</button>
            </div>

            <div id="imagenCompany" style="text-align:center">
                <img src="~/Imagenes/companyiamn.jpg" ; width="400" height="400" />
            </div>


</section>
    
</main>